# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.build

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/*_test
bin/*_gtest
lib/*

# Protocol buffer
*.pb.cc
*.pb.h

# cmake / make
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
CMakeScripts
Testing

# Temp files
wipe-me

# Xcode
*.xcodeproj

# generated / 3rd party
include/node
bin/node
bin/node-gyp
bin/npm
share/man
share/systemtap
install/include/node
install/bin/node
install/bin/node-gyp
install/bin/npm
install/share/man
install/share/systemtap

# node
build
npm-debug.log
node_modules

# configure, libtool and company
build-aux
.deps
.dirstamp
config.log
config.status
3rd-party/gtest-1.7.0/lib
3rd-party/gtest-1.7.0/libtool
3rd-party/gtest-1.7.0/scripts/gtest-config

