[submodule "src/node"]
	path = src/node
	url = https://github.com/starschema/node.git
	branch = branch_from_tag_v0.10.29
[submodule "src/proto"]
	path = src/proto
	url = https://github.com/starschema/virtdb-proto.git
	branch = master
