# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.build

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/*_test
bin/*_gtest
lib/*

# Protocol buffer
*.pb.cc
*.pb.h

# cmake / make
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
Makefile
cmake_install.cmake
CMakeScripts

# Temp files
wipe-me

# Xcode
*.xcodeproj
