[submodule "3rd-party/nodejs"]
	path = 3rd-party/nodejs
	url = https://github.com/starschema/node.git
	branch = branch_from_tag_v0.10.29
[submodule "src/proto"]
	path = src/proto
	url = https://github.com/starschema/virtdb-proto.git
	branch = master
[submodule "src/cppzmq"]
	path = src/cppzmq
	url = https://github.com/starschema/cppzmq.git
	branch = master
